extends layout
block head
	script(type='text/javascript', src='/javascripts/requests.js')
	script(type='text/javascript', src='/javascripts/domotic.js')

block menu
	li.dropdown
		a(class='dropdown-toggle', href='#', data-toggle='dropdown') Lugares
			b.caret
		ul.dropdown-menu
			li
				a(href='#', data-slide-to='1', data-target='#carousel') Habitación 1 
			li
				a(href='#', data-slide-to='2', data-target='#carousel') Habitación 2
			li
				a(href='#', data-slide-to='3', data-target='#carousel') Habitación 3
			li
				a(href='#', data-slide-to='4', data-target='#carousel') Sala
			li
				a(href='#', data-slide-to='5', data-target='#carousel') Jardin
			li
				a(href='#', data-slide-to='6', data-target='#carousel') Patio
			li
				a(href='#', data-slide-to='7', data-target='#carousel') Baño
			li
				a(href='#', data-slide-to='8', data-target='#carousel') Piscina
			li
				a(href='#', data-slide-to='9', data-target='#carousel') Garage
block content

		section#slides			
			div#carousel.carousel.slide
				//Indicators
				ol.carousel-indicators
					li(data-target='#carousel', data-slide-to='0', class='active')
					li(data-target='#carousel', data-slide-to='1')
					li(data-target='#carousel', data-slide-to='2')
					li(data-target='#carousel', data-slide-to='3')
					li(data-target='#carousel', data-slide-to='4')
					li(data-target='#carousel', data-slide-to='5')
					li(data-target='#carousel', data-slide-to='6')
				
				block slides
				
				// Controls
				a(class='left carousel-control', href='#carousel', data-slide='prev')
					span.icon-prev
				a(class='right carousel-control', href='#carousel', data-slide='next')
					span.icon-next	