extends domotic_layout

block slides
	//Wrapper for slides
	div.carousel-inner
		//
			div.item.active
				div.place
					table
						tr
							td(width="200px")
								button(type='button', class='btn btn-success btn-block', id='open') Abrir Conexión
							td(width="200px")
								button(type='button', class='btn btn-info btn-block', id='leer', disabled) Leer datos
							td(width="200px")
								button(type='button', class='btn btn-primary btn-block', id='close', disabled) Cerrar Conexión
							
		div.item.active
			img(src='/images/completaAerea.jpg', alt='home', width='640px', height='381px', id='aerae', usemap='#aerea')
			map(id="_aerea", name="aerea")
				area(shape="rect", coords="157,15,269,96", href="#", alt="habitacion1", title="habitacion1")
				area(shape="rect", coords="156,107,268,188", href="#", alt="habitacion2", title="habitacion2")
				area(shape="rect", coords="352,108,464,189", href="#", alt="habitacion3", title="habitacion3")
				area(shape="rect", coords="248,295,342,363", href="#", alt="sala", title="sala")
				area(shape="rect", coords="292,135,326,187", href="#", alt="bano", title="bano")
				area(shape="rect", coords="499,204,520,360", href="#", alt="exterior", title="exterior")

			div.carousel-caption
				h3 Casa Domotica
				p Vista completa de la casa	
	
		div.item
			img(src='/images/habitacion1/00.jpg', alt='home', width='640px', height='381px', id='I1')
			div.carousel-caption
				h3 Habitacion 1
			br
			center
			
				button(type='button', class='btn btn-default btn-lg led', id='l0', state="0", disabled)
					span.glyphicon.glyphicon-star-empty Encender izquierda				
				&nbsp;&nbsp;&nbsp;&nbsp;
				button(type='button', class='btn btn-default btn-lg led', id='l1', state="0", disabled)
					span.glyphicon.glyphicon-star-empty Encender derecha
		div.item
			img(src='/images/habitacion2/00.jpg', alt='home', width='640px', height='381px', id='I2')
			div.carousel-caption
				h3 Habitacion 2
			br
			center
				button(type='button', class='btn btn-default btn-lg led', id='l2', state="0", disabled)
					span.glyphicon.glyphicon-star-empty Encender izquierda
				&nbsp;&nbsp;&nbsp;&nbsp;
				button(type='button', class='btn btn-default btn-lg led', id='l3', state="0", disabled)
					span.glyphicon.glyphicon-star-empty Encender derecha
		div.item
			img(src='/images/habitacion3/00.jpg', alt='home', width='640px', height='381px', id='I3')
			div.carousel-caption
				h3 Habitacion 3
			br
			center
				button(type='button', class='btn btn-default btn-lg led', id='l4', state="0", disabled)
					span.glyphicon.glyphicon-star-empty Encender izquierda
				&nbsp;&nbsp;&nbsp;&nbsp;
				button(type='button', class='btn btn-default btn-lg led', id='l5', state="0", disabled)
					span.glyphicon.glyphicon-star-empty Encender derecha
		div.item
			img(src='/images/sala/0.jpg', alt='home', width='640px', height='381px', id='I4')
			div.carousel-caption
				h3 Sala
			br
			center
				button(type='button', class='btn btn-default btn-lg led', id='l6', state="0", disabled)
					span.glyphicon.glyphicon-star-empty Encender
		div.item
			img(src='/images/jardin/00.jpg', alt='home', width='640px', height='381px', id='I5')
			div.carousel-caption
				h3 Jardin
			br
			center
				button(type='button', class='btn btn-default btn-lg led', id='l7', state="0", disabled)
					span.glyphicon.glyphicon-star-empty Encender izquierda	
				&nbsp;&nbsp;&nbsp;&nbsp;	
				button(type='button', class='btn btn-default btn-lg led', id='l8', state="0", disabled)
					span.glyphicon.glyphicon-star-empty Encender derecha
		div.item
			img(src='/images/patio/0.jpg', alt='home', width='640px', height='381px', id='I6')
			div.carousel-caption
				h3 Patio
			br
			center
				button(type='button', class='btn btn-default btn-lg led', id='l9', state="0", disabled)
					span.glyphicon.glyphicon-star-empty Encender				
		div.item
			img(src='/images/banhio/0.jpg', alt='home', width='640px', height='381px', id='I7')
			div.carousel-caption
				h3 Banio
			br
			center
				button(type='button', class='btn btn-default btn-lg led', id='l10', state="0", disabled)
					span.glyphicon.glyphicon-star-empty Encender
		div.item
			img(src='/images/piscina/0.jpg', alt='home', width='640px', height='381px', id='I8')
			div.carousel-caption
				h3 Piscina
			br
			center
				button(type='button', class='btn btn-default btn-lg led', id='l11', state="0", disabled)
					span.glyphicon.glyphicon-star-empty Encender
		div.item
			img(src='/images/garage/0.jpg', alt='home', width='640px', height='381px', id='I9')
			div.carousel-caption
				h3 Garage
			br
			center
				button(type='button', class='btn btn-default btn-lg led', id='l12', state="0", disabled)
					span.glyphicon.glyphicon-star-empty Abrir
							
