extends layout
block head
	script(type='text/javascript', src='/javascripts/validar.js')
	script(type='text/javascript', src='/javascripts/login.js')
		
block content
	header
		div.row	
			div.col-md-12
				h1.text-center= title
				h2.text-center Bienvenido a la casa del futuro
		br.hidden-xs.visible-lg
		div.row.hidden-xs.hidden-sm
			div.col-md-1
			div.col-md-4
				h3.text-center node + express + serialport
				p
					|Proyecto hecho con node.js utilizando el framework 
					|express, jade para plantillas, el modulo serialport
					|para acceder al puerto usb de la computadora.
			
			div.col-md-2
			
			div.col-md-4
				h3.text-center pic18f4550
				p
					|El proyecto consiste en controlar una maqueta de una casa,
					|la cual contiene ciertos dispositivos electronicos que son
					|controlados por medio del PIC18f4550.  
			div.con-md-1
		br
		br.visible-lg
		br.visible-lg
		div.row
			div.col-md-12.text-center
				button(type='button', class='btn btn-lg', data-toggle='modal', data-target='#logModal') Iniciar session

	div(class='modal fade', id='logModal', tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
		div.modal-dialog
			div.modal-content
				div.modal-header
					button(type='button', class='close', data-dismiss='modal', aria-hidden='true') &times;
					h4.modal-title Inicio de sessión
				div.modal-body
								
					form.form-horizontal(role='form', id="logForm")
						div.form-group
							label(for='email', class='col-sm-2 control-label') Email
							div.col-sm-10
								input(type='email', class='form-control', id='mail', placeholder='Email', valid-type='mail')
						div.form-group
							label(for='password', class='col-sm-2 control-label') Password
							div.col-sm-10
								input(type='password', class='form-control', id='password', placeholder='Password', valid-type='text')  
						div.form-group
							div(class='col-sm-offset-2 col-sm-10')
								button(type='submit', class='btn btn-primary', id="btnLog") Iniciar sessión	