doctype 5
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/bootstrap-theme.min.css')
		script(type='text/javascript', src='/javascripts/jquery-1.10.2.min.js')
		script(type='text/javascript', src='/javascripts/bootstrap.min.js')
		block head
	body
		nav(class='navbar navbar-default', role='navigation')
			div.navbar-header
				button(type='button', class='navbar-toggle', data-toggle='collapse', data-target='.navbar-ex1-collapse')
					span.icon-bar
					span.icon-bar
					span.icon-bar
				a(class='navbar-brand', href='#') Domotic Home
			div.collapse.navbar-collapse.navbar-ex1-collapse
				ul.nav.navbar-nav
					li.active
						a(href='#', data-slide-to='0', data-target='#carousel')
							span.glyphicon.glyphicon-home
					block menu					
								
				// por el momento sin forms
					form(class='navbar-form navbar-left', role='search')
						div.form-group
							input(type="text", class='form-control', placeholder='Search')
						button(type='submit', class='btn btn-default') Buscar
						
				ul.nav.navbar-nav.navbar-right
					li.dropdown
						a(href='#', class='dropdown-toggle', data-toggle='dropdown') #{usuario} 
							span.glyphicon.glyphicon-cog
						ul.dropdown-menu
							li
								a(href='#', data-toggle='modal', data-target='#nosotros') Información															
							li
								a(href='logout', id="logOut") Salir							
		block content
		
		div(class='modal fade', id='nosotros', tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
			div.modal-dialog
				div.modal-content
					div.modal-header
						button(type='button', class='close', data-dismiss='modal', aria-hidden='true') &times;
						h4.modal-title Acerca del proyecto 
					div.modal-body
						h2 UNIVERSIDAD DE EL SALVADOR (UES)
						h2 FACULTAD MULTIDISCIPLINARIA DE OCCIDENTE
						p.info							
							br
							strong Proyecto Realizado para la materia:							 
							|Arquitectura de computadoras
							br
							strong Docente:							 
							|Ing. Jose Francisco Andaluz Guzman
							br
							strong Descripción del proyecto:
							br 
							|El proyecto consiste en una simulación a escala de una casa domótica controlada remotamente desde cualquier
							|dispositivo conectado a internet.
							br
							|Para que esto sea posible es necesario configurar un servidor web local en una computadora conectada a los dispositivos que 
							|se pretenden controlar remotamente ya sea usando las tecnologías ipv4 o ipv6.  
							br
							strong Teconologías usadas:
							br
							|Para el proyecto se utilizaron una seria de tecnologías web, cabe mencionar que algunas de estas tecnologías son bastantes recientes
							|en el mundo de la informática, pero han resultado muy utiles e interesantes de utilizar.
							br
							|A continuación se listan algunas de las tecnologias y dispositivos electrónicos que se emplearon en este proyecto:
						div.row
							div.col-md-6
								ul 
									strong Tecnologías
									li Node.js
									li CCS Compiler
									li Express.js
									li jQuery.js
									li Node SerialPort
									li Sqlite3
									li Twitter Bootstrap
									li HMTL
									li CSS
							div.col-md-6
								ul 
									strong Dispositivos Electrónicos
									li PIC18F4550
									li Compuertas XOR
									li Interruptores trifásicos 
									li Transistores PNP
									li Regulador de voltaje 7805
									li Resistores
									li Leds
									li Condensarores
									li Oscilador de cristal
									li Pulsadores
									li Puerto USB tipo B hembra
									li Programaor de PIC