@font-face{
	font-family: 'Sistema-font';
	src:url('../fonts/Sistema.ttf');
}

@font-face{
	font-family: 'Teio';
	src:url('../fonts/Teio.ttf');
}

@font-face{
	font-family: 'Circuit Board';
	src:url('../fonts/101! Circuit Board.ttf');
}

@font-face{
	font-family: 'Digital_tech';
	src:url('../fonts/Digital_tech.otf');
}
body, html{
	width: 100%;
	height: 100%;
}
body{
	margin:0;
	padding:0;
	
}
nav.navbar{	
	position:fixed !important;
	width:100%;	
	top:0;
	margin:0 !important;
}

header{	
	position:relative;	
	padding:5% 10px 0 10px;
	margin:0 !important;
	width:100%;
	height:100%;	
	background-image:url('../images/electro2.jpg');
	background-position:center;
	color: #fff	;
    text-shadow:0px 2px 5px #447599;	
    
}

header h1{
	font-size: 4.5em !important;
}
header h2{
	font-size: 2.5em !important;
}

header h3{
	font-size: 1.5em !important;
}
h1, h2, h3{
	font-family:Digital_tech !important;
}
#nosotros .modal-body h2{
	text-align: center;
}
#nosotros .modal-body p{
	text-align:justify; 
}
span.glyphicon{
	font-size:14px;
}

section#slides{
	margin:0 !important;
	height: 100% !important;
	width: 100%;
}
div#carousel{
	margin:0;
	padding:0;
	height:100% ;
	width: 100%;
	display:table;
}

/*.carousel .item{
	height: 100%;
}*/
div.carousel-inner{
	/*padding-top:5%; */
	display:table-cell;
	vertical-align:middle;
	width:80%;
	height:80%;
	margin:auto;
}

.item img{
	/*margin:25px auto;*/	
	width:90%;
	margin:0 auto;	
}
/* Prueba*/
.item div.place{
	/*border:1px solid #008080;*/
	width:90%;
	height:90%;
	margin:0 auto;
}

.item table{
	margin:0 auto;
}

.item table span{
	/*color:#303030;*/
}
/*fin prueba */

.carousel-indicators{
	bottom:30px !important;
}


header .btn{
	width:200px;
	height:55px;
	background-color:rgb(219, 82, 47);
	font-weight: 300;
	color:#FFFFFF;
	text-transform: uppercase;
	
}
	
header .btn:hover{
	color:#c7c7c7 !important;
}	

header .btn:focus{
	border:0 !important;
	color:#c7c7c7 !important;
}
